@font-face {
    font-family: 'OpenSans Regular';
    src: url('../../fonts/OpenSans-Regular.ttf');
    src: url('../../fonts/OpenSans-Regular.woff');
}
@font-face{
    font-family: 'Roboto Slab Thin';
    src: url('../../fonts/robotoslabthin.woff');
    src: url('../../fonts/robotoslabthin.woff2');
}
@font-face {
    font-family: 'Roboto Slab Regular';
    src: url('../../fonts/robotoslabregular.woff');
    src: url('../../fonts/robotoslabregular.woff2');
}
@font-face {
    font-family: 'Roboto Slab Bold';
    src: url('../../fonts/robotoslabbold.woff');
    src: url('../../fonts/robotoslabbold.woff2');
}
  